@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.dev-bg-primary {
    background-color: #086296;
}


.carousel-item {
    transition: transform 1s ease;
}

.bg-image-dark img {
    filter: brightness(50%)
}